<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>Document</title>
</head>

<body>

    <header>
        <h1>Welcome</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Beranda</a></li>
            <li><a href="#">Galeri</a></li>
            <li><a href="#">My Story</a></li>
        </ul>
    </nav>
    <section>
        <article>
            <h1>Welcome to here</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum blanditiis quibusdam quam sunt dolores amet dolorem, voluptatibus odio consequuntur pariatur veritatis veniam, voluptatum voluptatem fuga explicabo unde sed voluptate cumque.

            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, saepe! Repellat dolor quidem veniam, quibusdam beatae a? Molestias, fugiat, maiores fuga, incidunt commodi dolorum ipsam at itaque dolor cumque facilis.
            </p>
        </article>
    </section>
    <footer>
        <p>&copy;OmahTech</p>
    </footer>
</body>

</html>